/* Minimum width of 1020 pixels. */
@media screen and (min-width: 1025px) {
	body {
		background-color: #e6e6e6;
	}
	body .site {
		border-radius: 5px 5px 0px 0px;
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
	.site-header {
		width: 1020px;
		margin: 0px auto;
	}
	.header_image_long {
		padding: 0px 100px;
		margin: 0px auto 20px;
	}
	.wrapper {
		width: 1020px;
	  margin: 0px auto;
	}

	.site-footer-inner {
		width: 1020px;
		margin: 0px auto;
	}
}
